<<<<<<< HEAD
@font-face { font-family: Ferro Rosso; src: url('/Quiz-app/fonts/FerroRosso.ttf'); }
@font-face { font-family: Speed; src: url('/Quiz-app/fonts/speed.ttf'); }
=======
@font-face {
	font-family: Ferro Rosso;
	src: url('/Quiz-app/fonts/FerroRosso.ttf');
}
@font-face {
	font-family: Speed;
	src: url('/Quiz-app/fonts/speed.ttf');
}
>>>>>>> 79fbc95e7b7a269773b5869f1f8fae1dfb016b65

html, body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
	background-image: url(https://charlestolman.files.wordpress.com/2011/07/maclaren_part.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

body {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-family: "Speed", Serif;
	letter-spacing: 1px;
}

.imageBox, .answerBox, .feedback {
	display: none;
}

.beginButton, .submitButton, .ok-button, .try-button {
	border-radius: 10px;
	padding: 10px 20px;
	background-color: green;
	font-family: "Speed", Serif;
	cursor: pointer;
}
	
.quizName {
	padding-top: 10px;	
	font-size: 2em;
	font-family: "Ferro Rosso", Serif;
}

.questionBox {	
	padding-bottom: 20px;
}

.beginButton {
	margin-top: 10px;
}

.questionNumber {
	display: none;
}

.container {
	width: 900px;
	background-color: black;
	border-radius: 25px;	
}

.beginContainer {
	text-align: center;
}

.imageBox {
	border: 2px solid black;
	border-radius: 25px;
	max-height: 450px;
	max-width: 900px;
	overflow: hidden;	
}

.flag {
	/*height: 500px;*/
	width: 900px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.answerForm {
	width: 400px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

label {
	display: block;
	padding-left: 15px;
	text-indent: -150px;
	
}

.answer {	
	padding: 0;
	/*margin: 0;*/
	margin-left: 250px;
	vertical-align: bottom;
	position: relative;
	top: -1px;
	overflow: hidden;
	hover: ;
}

.submitContainer {
	text-align: center;
}

.submitButton {
	margin: 0 auto;
}

.modal, .new-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content {
	background-color: #676E70;
	margin: 15% auto;
	padding: 5px;
	width: 200px;
	height: 150px;
	border: 1px solid black;
	border-radius: 15px;
}

.feedback-inline {
	display: inline-block;
}

.feedback h6 {	
	font-size:1em;
}